*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(202, 243, 202);
}

.reloj{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("..//img/imgreloj.png");
    background-size: cover;
    border: 1rem solid rgb(32, 83, 32);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 0px rgb(23, 90, 23);
}

.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(79, 134, 79);
    border-radius: 50vh;
    z-index: 10000;
}

.hora{
    width: 150px;
    height: 150px;
}

.minuto{
    width: 190px;
    height: 190px;
}

.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 90px;
    background-color: rgb(6, 27, 6);
    z-index: 10;
    border-radius: 50vh;
}

.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 130px;
    background-color: rgb(6, 27, 6);
    z-index: 11;
    border-radius: 50vh;
}

.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background-color: rgb(6, 27, 6);
    z-index: 12;
    border-radius: 50vh;
}

.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}

.relojDi{
    margin: 0 5rem 10rem 0;

    
}

.relojDi{
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40vh;
    font-family: monospace;
    font-size: 15px;
    border: 5px solid rgb(79, 134, 79);
}